[submodule "include/thirdparty/rapidjson"]
	path = include/thirdparty/rapidjson
	url = https://github.com/elasota/rapidjson.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/elasota/rapidjson.git
	branch = master
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = main
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	branch = master
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
	branch = develop
