.vs
*.dll
*.exe
*.exp
*.lib
*.user
*.ilk
*.log
*.idb
*.pdb
*.obj
*.tlog
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
*.iobj
*.ipdb
*.nativecodeanalysis.sarif
*.nativecodeanalysis.xml
*.vcxproj
*.vcxproj.filters
launchSettings.json
vc.nativecodeanalysis.all.xml
CodeAnalysisResultManifest.txt
RKit.sln

x64/Debug/*
x64/Release/*

build/ProjectGenerator/obj/*
build/ProjectGenerator/bin/*
